html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0e7797;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #6dec4d
}

img {
  max-width: 100%;
  display: block;
}